<?xml version="1.0" encoding="utf-8"?>
<!--//docs.microsoft.com/en-us/nuget/reference/nuget-config-file-->
<configuration>
  <config>
    <add key="defaultPushSource" value="../../../package_source/nuget" />
  </config>

  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />
    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>

  <packageSources>
    <add key="official" value="https://api.nuget.org/v3/index.json" />
    <add key="local" value="../../../package_source/nuget" />
  </packageSources>
  
  <disabledPackageSources>
    <add key="official" value="true" />
  </disabledPackageSources>
</configuration>